Package: __PACKAGE_NAME__
Version: __PACKAGE_VERSION__
Architecture: all
Maintainer: Yuya Hamamachi <yuya.hamamachi.sx@renesas.com>
Depends: __ORIGINAL_PACKAGE_NAME__
Description: Renesas kernel meta package for arm64

