#!/usr/bin/make -f

# Prevent passing build option
export DEB_BUILD_MAINT_OPTIONS = hardening=-all optimize=-lto
export ARCH=arm64
export CROSS_COMPILE=aarch64-linux-gnu-
export KERNEL_SRC=/build/kernel
export KERNELDIR=/build/kernel
export PVR_BUILD_DIR=r8a779g_linux
export WINDOW_SYSTEM=lws-generic

DEB_VERSION_UPSTREAM := $(shell dpkg-parsechangelog -SVersion | cut -d- -f1)
CORENUM := $(shell nproc)

%:
	dh $@


override_dh_auto_clean:
	ls /build/*/

override_dh_auto_build:
	ls /build/*/
	$(MAKE) -j$(CORENUM)

override_dh_auto_install:
	$(MAKE) INSTALL_MOD_PATH=$(CURDIR)/debian/modules modules_install
	rm -f debian/modules/lib/modules/*/modules.*

