#!/usr/bin/make -f

# Prevent passing build option
export DEB_BUILD_MAINT_OPTIONS = hardening=-all optimize=-lto

DEB_VERSION_UPSTREAM := $(shell dpkg-parsechangelog -SVersion | cut -d- -f1)
CORENUM := $(shell nproc)

%:
	dh $@

override_dh_auto_clean:
	$(MAKE) clean


override_dh_auto_configure:
	cat debian/patches/*.cfg >> arch/arm64/configs/renesas_defconfig
	$(MAKE) sparrow_hawk_defconfig
	
override_dh_auto_build:
	$(MAKE) -j$(CORENUM) Image dtbs modules

override_dh_auto_install:
	$(MAKE) INSTALL_PATH=$(CURDIR)/debian/tmp install
	$(MAKE) INSTALL_MOD_PATH=$(CURDIR)/debian/modules modules_install

