Source: sparrow-hawk-kernel-6.12
Section: misc
Priority: optional
Maintainer: Yuya Hamamachi <yuya.hamamachi.sx@renesas.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13), gcc-aarch64-linux-gnu
Standards-Version: 4.6.2
Homepage: https://github.com/ARM-software/arm-trusted-firmware

Package: sparrow-hawk-kernel-6.12
Architecture: all
Depends: ${misc:Depends},
Conflicts: sparrow-hawk-kernel-6.18
Description: Linux kernel 6.12 for Sparrow Hawk
