Source: sparrow-hawk-mkfit
Section: misc
Priority: optional
Maintainer: Yuya Hamamachi <yuya.hamamachi.sx@renesas.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13), gcc-aarch64-linux-gnu
Standards-Version: 4.6.2
Homepage: https://github.com/ARM-software/arm-trusted-firmware

Package: sparrow-hawk-mkfit
Architecture: all
Depends: ${misc:Depends},
    initramfs-tools, busybox-static, binutils, u-boot-tools, device-tree-compiler,
    sparrow-hawk-kernel,
    sparrow-hawk-arm-trusted-firmware,
    sparrow-hawk-pcie-fw,
Description: Postinst script for generating fitImage automatically
